@{
    ViewBag.Title = "Home Page";
}

<div style="margin:10rem  0;">
    <h1 >School Admin Dashboard</h1>
    <p class="lead">A management system for all your educational purpose needs</p>
</div>

<div class="row">
    <div class="col-md-4">
        @Html.ActionLink("Student","Index","Student",null, new { @class = "btn btn-primary btn-block btn-lg" })
    </div>
    <div class="col-md-4">
        @Html.ActionLink("Teachers", "Index", "Teacher",null,  new { @class = "btn btn-primary btn-block btn-lg" })
    </div>
    <div class="col-md-4">
        <a href="" class="btn btn-primary btn-block btn-lg">Accounts</a>
    </div>
</div>
